{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}
	Ben Edmunds | Work
{% endblock %}
						
{% block content %}

<div class="container middle">

	<div class="row">
		<div class="col-md-6">
			{% thumbnail Work.image "x500" as im %}
				<img src="{{ im.url }}" class="img-responsive" class="img-thumbnail" alt="Responsive image">
			{% endthumbnail %}
		</div>
		<div class="col-md-6">
			<div class="row">
				<h1>{{ Work }}</h1>
				<p>{{ Work.medium }}</p>
				<p>{{ Work.height }}x{{ Work.width }}cm</p>
				<p>{{ Work.description }}</p>
			</div>

			<div class="row">
				<div class="col-md-3">
					{% thumbnail Work.alt_image_1 "x300" as im %}
						<img src="{{ im.url }}" class="img-responsive" class="img-thumbnail" alt="Responsive image">
					{% endthumbnail %}
				</div>
				<div class="col-md-3">
					{% thumbnail Work.alt_image_2 "x300" as im %}
						<img src="{{ im.url }}" class="img-responsive" class="img-thumbnail" alt="Responsive image">
					{% endthumbnail %}
				</div>
				<div class="col-md-3">
					{% thumbnail Work.alt_image_3 "x300" as im %}
						<img src="{{ im.url }}" class="img-responsive" class="img-thumbnail" alt="Responsive image">
					{% endthumbnail %}
				</div>
			</div>
			
		</div>
	</div>
	
	
	
	
</div>

{% endblock %}
